<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="CSS\style.css">
        <script src="../server.js" async defer></script>
    </head>
    <body>
        <div id="background">
            <div id="outer-border">
                <div id="header">
                    <ul id="header-list">
                        <li id="database-list">
                            <select class="dropdown-format db-dropdown" id="database-dropdown">
                                <option value="<%= //dbName %>"><%= //dbName %></option>
                                <% database.forEach((db) => {  %>
                                    <option value="<% db.name %>"><%= db.name %></option>                               
                                <% })%>
                            </select>
                        </li>
                        <li id="collection-list">
                            <select class="dropdown-format col-dropdown" id="collection-dropdown">
                                <option value="<%= //colName %>"><%= //colName %></option>
                                <% collection.forEach((col) => {  %>
                                    <option value="<% col.collectionName %>"><%= col.collectionName %></option>                               
                                <% })%>
                            </select>
                        </li>
                    </ul>
                </div>
                <div id="doc-body"> 
                    <h1 id="body-liner">Documents</h1>
                    <hr id="line">
                    <div id="documents">
                        <h2>Please select the values above</h2>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
