<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="CSS\style.css">
    </head>
    <body>
        <div id="background">
            <div id="outer-border">
                <div id="header">
                    <ul id="header-list">
                        <form action="default" method="get">
                        <li id="database-list">
                            <select name="data" class="dropdown-format db-dropdown" id="database-dropdown">
                                <option value="placeHolder">Select Database</option>
                                <% database.forEach((db) => { %>
                                <% if(db.name != 'admin' && db.name != 'local'){%>
                                        <option value="<%= db.name %>"><%= db.name %></option>                               
                                <% }})%>
                            </select>
                        </li>
                        <li id="collection-list">
                            <select name="col" class="dropdown-format col-dropdown" id="collection-dropdown">
                                <option value="placeHolder">Select Collection</option>
                                <% collection.forEach((col) => {  %>
                                    <option value="<%= col.collectionName %>"><%= col.collectionName %></option>                               
                                <% })%>
                            </select>
                        </li>
                        <button type="submit">Submit GET</button>
                    </form>
                    </ul>
                </div>
                <div id="doc-body"> 
                    <h1 id="body-liner">Documents</h1>
                    <hr id="line">
                    <div id="documents">
                        <% if(docs) { %>
                            <table id="doc-table">
                                <thead>
                                    <td class="table-headers">Asset Tag</td>
                                    <td class="table-headers">Serial Number</td>
                                    <td class="table-headers">Device Type</td>
                                    <td class="table-headers">Assigned To</td>
                                    <td class="table-headers">ID</td>
                                </thead>
                                <% docs.forEach((doc) => {  %>
                                <tr class="table-rows">
                                    <td class="table-rows"><p class="inner-text" contenteditable="false"><%= doc.assetTag %></p></td>
                                    <td class="table-rows"><p class="inner-text" contenteditable="false"><%= doc.serialNumber %></p></td>
                                    <td class="table-rows"><p class="inner-text" contenteditable="false"><%= doc.deviceType %></p></td>
                                    <td class="table-rows"><p class="inner-text" contenteditable="false"><%= doc.assignedTo %></p></td>
                                    <td class="table-rows"><p class="inner-text" contenteditable="false"><%= doc._id %></p></td>
                                    <td><button type="button" class="edit-buttons" id="<%= doc._id %>-btn">Edit</button></td>
                                </tr>
                                <% })%>
                                </tr>
                                </tr>
                            </table>
                        <% } else { %>
                        <h2>Please select the values above</h2>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <script src="JS\page.js" async defer></script>
    </body>
</html>